---
export interface Props {
  name: string;
  size?: "sm" | "lg";
}

const { name, size = "sm" } = Astro.props;
---

<li
  class={`astro-blwjyjpt inline-block mx-1 my-3 underline-offset-8
  }`}
>
  <a
    href={`/tags/${name.toLowerCase()}`}
    transition:name={name.toLowerCase()}
    class={`astro-blwjyjpt group pr-2 text-base`}
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class={`${size === "sm" ? " scale-75" : "scale-110"}`}
    >
    </svg>
    <span class="astro-blwjyjpt">
      <span class="astro-blwjyjpt" style="padding-right:2px"
        >#
        {name.toLowerCase()}
      </span>
    </span>
  </a>
</li>

<style>
  a {
    @apply relative underline decoration-dashed hover:-top-0.5 hover:text-skin-accent focus-visible:p-1;
  }
</style>
